<div id="index_slideshow" class="index_slideshow">
	<%= image_tag('portfolio1.png')%>
	<%= image_tag('portfolio2.png')%>
	<%= image_tag('portfolio2b.png')%>
	<%= image_tag('portfolio2c.png')%>
	<%= image_tag('portfolio2d.png')%>
	<%= image_tag('portfolio3.png')%>
	<%= image_tag('portfolio4.png')%>
	<%= image_tag('portfolio5.png')%>
	<%= image_tag('portfolio6.png')%>
	<%= image_tag('portfolio7.png')%>
	<%= image_tag('portfolio8.png')%>
	<%= image_tag('portfolio9.png')%>
	<%= image_tag('portfolio10.png')%>
	<%= image_tag('portfolio11.png')%>
	<%= image_tag('portfolio12.png')%>
</div>
