<div class="left_box">
	<p class="link"><%= link_to "Prints", {:controller => "portraits", :action => "prints"} %></p>
	<p class="link"><%= link_to "Family Package", {:controller => "portraits", :action => "family_package"}%></p>
	<p class="link"><%= link_to "Just the Kids Package", {:controller => "portraits", :action => "kids_package"}%></p>
	<p class="link"><%= link_to "Pet Package", {:controller => "portraits", :action => "pet_package"} %></p>
	<p class="link"><%= link_to "High School Senior Package", {:controller => "portraits", :action => "senior_package"} %></p>
	<p class="link"><%= link_to "Maternity Package", {:controller => "portraits", :action => "maternity_package"} %></p>
	<p class="link"><%= link_to "Professional Package", {:controller => "portraits", :action => "professional_package"} %></p>
</div>