<script type="text/javascript">
$(document).ready(function() {
	img1 = new Image();
    img1.src = "<%= @photo.public_filename %>";
      $(img1).load(function() {
		$('#photo').fadeIn()
	  });
    });
</script>
<div class="galleries">
	<div class="left_bar">
		<div class="left_box">
			<%= render :partial => "list_shoots" %>
		</div>
		<div class="order">
			<div class="item">
		           <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		               <p class="quantity">
		                   <select name="quantity" class="qty">
		                       <% 99.times do |index| %>
		                           <option value="<%=index+1%>"><%=index+1%></option>
		                       <% end %>
		                   </select>
		               </p>
					   <p class="desc">Wallets (Set of 4)<span class="price">$10</span></p>
		               <p class="add_cart">
		                   <input type="image" src="/images/add_cart.png" name="submit" alt="Add to cart" align="center">
		                   <input type="hidden" name="add" value="1"> 
		                   <input type="hidden" name="cmd" value="_cart">
		                   <input type="hidden" name="business" value="shannon@shannonmrush.com ">
		                   <input type="hidden" name="item_name" value="Shoot: <%= @photo.shoot.name %>, Number: <%= @photo.number %> - Wallets (Set of 4)">
		                   <input type="hidden" name="amount" value="10.00">
		                   <input type="hidden" name="no_shipping" value="0">
		                   <input type="hidden" name="currency_code" value="USD">
		                   <input type="hidden" name="lc" value="US">
		                   <input type="hidden" name="bn" value="PP-ShopCartBF">
		               </p>
		           </form>
				<div class="clear"></div>
			</div>
			<div class="item">
		           <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		               <p class="quantity">
		                   <select name="quantity" class="qty">
		                       <% 99.times do |index| %>
		                           <option value="<%=index+1%>"><%=index+1%></option>
		                       <% end %>
		                   </select>
		               </p>
					   <p class="desc">4" x 6" Print<span class="price">$15</span></p>
		               <p class="add_cart">
		                   <input type="image" src="/images/add_cart.png" name="submit" alt="Add to cart" align="center">
		                   <input type="hidden" name="add" value="1"> 
		                   <input type="hidden" name="cmd" value="_cart">
		                   <input type="hidden" name="business" value="shannon@shannonmrush.com ">
		                   <input type="hidden" name="item_name" value="Shoot: <%= @photo.shoot.name %>, Number: <%= @photo.number %> - 4&quot; x 6&quot; print">
		                   <input type="hidden" name="amount" value="15.00">
		                   <input type="hidden" name="no_shipping" value="0">
		                   <input type="hidden" name="currency_code" value="USD">
		                   <input type="hidden" name="lc" value="US">
		                   <input type="hidden" name="bn" value="PP-ShopCartBF">
		               </p>
		           </form>
				<div class="clear"></div>
			</div>
			<div class="item">
		           <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		               <p class="quantity">
		                   <select name="quantity" class="qty">
		                       <% 99.times do |index| %>
		                           <option value="<%=index+1%>"><%=index+1%></option>
		                       <% end %>
		                   </select>
		               </p>
					   <p class="desc">5" x 7" Print<span class="price">$25</span></p>
		               <p class="add_cart">
		                   <input type="image" src="/images/add_cart.png" name="submit" alt="Add to cart" align="center">
		                   <input type="hidden" name="add" value="1"> 
		                   <input type="hidden" name="cmd" value="_cart">
		                   <input type="hidden" name="business" value="shannon@shannonmrush.com ">
		                   <input type="hidden" name="item_name" value="Shoot: <%= @photo.shoot.name %>, Number: <%= @photo.number %> - 5&quot; x 7&quot; print">
		                   <input type="hidden" name="amount" value="25.00">
		                   <input type="hidden" name="no_shipping" value="0">
		                   <input type="hidden" name="currency_code" value="USD">
		                   <input type="hidden" name="lc" value="US">
		                   <input type="hidden" name="bn" value="PP-ShopCartBF">
		               </p>
		           </form>
				<div class="clear"></div>
			</div>
			<div class="item">
		           <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		               <p class="quantity">
		                   <select name="quantity" class="qty">
		                       <% 99.times do |index| %>
		                           <option value="<%=index+1%>"><%=index+1%></option>
		                       <% end %>
		                   </select>
		               </p>
		  			   <p class="desc">8" x 10" Print<span class="price">$35</span></p>
		               <p class="add_cart">
		                   <input type="image" src="/images/add_cart.png" name="submit" alt="Add to cart" align="center">
		                   <input type="hidden" name="add" value="1"> 
		                   <input type="hidden" name="cmd" value="_cart">
		                   <input type="hidden" name="business" value="shannon@shannonmrush.com ">
		                   <input type="hidden" name="item_name" value="Shoot: <%= @photo.shoot.name %>, Number: <%= @photo.number %> - 8&quot; x 10&quot; print">
		                   <input type="hidden" name="amount" value="35.00">
		                   <input type="hidden" name="no_shipping" value="0">
		                   <input type="hidden" name="currency_code" value="USD">
		                   <input type="hidden" name="lc" value="US">
		                   <input type="hidden" name="bn" value="PP-ShopCartBF">
		               </p>
		           </form>
				<div class="clear"></div>
			</div>
			<div class="item">
		           <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		               <p class="quantity">
		                   <select name="quantity" class="qty">
		                       <% 99.times do |index| %>
		                           <option value="<%=index+1%>"><%=index+1%></option>
		                       <% end %>
		                   </select>
		               </p>
	    			   <p class="desc">11" x 14" Print<span class="price">$45</span></p>
		               <p class="add_cart">
		                   <input type="image" src="/images/add_cart.png" name="submit" alt="Add to cart" align="center">
		                   <input type="hidden" name="add" value="1"> 
		                   <input type="hidden" name="cmd" value="_cart">
		                   <input type="hidden" name="business" value="shannon@shannonmrush.com ">
		                   <input type="hidden" name="item_name" value="Shoot: <%= @photo.shoot.name %>, Number: <%= @photo.number %> - 11&quot; x 14&quot; print">
		                   <input type="hidden" name="amount" value="45.00">
		                   <input type="hidden" name="no_shipping" value="0">
		                   <input type="hidden" name="currency_code" value="USD">
		                   <input type="hidden" name="lc" value="US">
		                   <input type="hidden" name="bn" value="PP-ShopCartBF">
		               </p>
		           </form>
				<div class="clear"></div>
			</div>
			<div class="item">
		           <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		               <p class="quantity">
		                   <select name="quantity" class="qty">
		                       <% 99.times do |index| %>
		                           <option value="<%=index+1%>"><%=index+1%></option>
		                       <% end %>
		                   </select>
		               </p>
				   	   <p class="desc">All High Res Files<span class="price">$300</span></p>
		               <p class="add_cart">
		                   <input type="image" src="/images/add_cart.png" name="submit" alt="Add to cart" align="center">
		                   <input type="hidden" name="add" value="1"> 
		                   <input type="hidden" name="cmd" value="_cart">
		                   <input type="hidden" name="business" value="shannon@shannonmrush.com ">
		                   <input type="hidden" name="item_name" value="Shoot: <%= @photo.shoot.name %>, Number: <%= @photo.number %> - 11&quot; x 14&quot; print">
		                   <input type="hidden" name="amount" value="300.00">
		                   <input type="hidden" name="no_shipping" value="0">
		                   <input type="hidden" name="currency_code" value="USD">
		                   <input type="hidden" name="lc" value="US">
		                   <input type="hidden" name="bn" value="PP-ShopCartBF">
		               </p>
		           </form>
				<div class="clear"></div>
			</div>
			<div class="view_cart">
				<form target="paypal" action=" https://www.paypal.com/cgi-bin/webscr"; method="post">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="business" value=" shannon@shannonmrush.com">
                    <input type="hidden" name="display" value="1">
                    <input type="image" src="/images/view_cart.png" border="0" name="submit" alt="Checkout">
                </form>
			</div>
                
		</div>
	</div>
	<div class="right_box">
		<div class="photo_container" style="width: <%= @photo.width %>px;" id="photo_container"><%= image_tag(@photo.public_filename, :id => "photo", :class => "photo", :style => "display:none;", :alt => "", :size => "#{@photo.width}x#{@photo.height}")%></div>
		<div class="photo_controls">
			<p class="previous"><%= link_to "<< Previous", {:action => "show", :shoot_id => @shoot.id, :photo_id => Photo.get_previous(@photo)}%></p>
			<p class="number">Photo #<%= @photo.number %></p>
			<p class="next"><%= link_to "Next >>", {:action => "show", :shoot_id => @shoot.id, :photo_id => Photo.get_next(@photo)}%></p>
		<div class="clear"></div>
	</div>
</div>