<script type="text/javascript">
$(document).ready(function() {
	img1 = new Image();
    img1.src = "<%= @photo.public_filename %>";
      $(img1).load(function() {
		$('#photo').fadeIn()
	  });
    });
</script>
<div class="galleries">
	<div class="left_bar">
		<div class="left_box">
			<%= render :partial => "list_shoots" %>
		</div>
		<% if @shoot.real_estate %>
			<div class="gallery_re">
				<%= render :partial => "real_estate"%>
			</div>
		<% else %>
			<div class="order">
				<%= render :partial => "order" %>
			</div>
		<% end %>
	</div>
	<div class="right_box">
		<div class="photo_container" style="width:<%= @photo.width %>px;" id="photo_container"><%= image_tag(@photo.public_filename, :id => "photo", :class => "photo", :style => "display:none;", :alt => "", :size => "#{@photo.width}x#{@photo.height}")%></div>
		<div class="photo_controls">
			<p class="previous"><%= link_to "<< Previous", {:action => "show", :shoot_id => @shoot.id, :photo_id => Photo.get_previous(@photo)}%></p>
			<p class="number">Photo #<%= @photo.number %></p>
			<p class="next"><%= link_to "Next >>", {:action => "show", :shoot_id => @shoot.id, :photo_id => Photo.get_next(@photo)}%></p>
		<div class="clear"></div>
	</div>
</div>